.SuggestAll_layout {
  display: grid;
  justify-content: center;
}

.SuggestTop_layout {
  display: grid;
  justify-content: center;
  text-align: center;
}

.List_title {
  color: #347988;
}

.PaginationCustom {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
