@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Noto+Sans+KR:wght@100..900&display=swap');

* {
  font-family: 'Noto Sans KR', sans-serif;
  font-optical-sizing: auto;
}

.Create_all,
.Read_all {
  display: flex;
  justify-content: center;
}

.CRUDHeader {
  width: 1000px;
  margin-top: 25px;
  font-weight: 600;
  font-size: 37px;
  font-optical-sizing: auto;
  margin-left: 25px;
}

.CRUDHeader:after {
  content: '';
  display: block;
  margin-top: 20px;
}

.borderLine {
  border-bottom: 1px solid #979797;
  width: 100%;
  margin-bottom: 20px;
}

.titleBody_layout {
  display: flex;
  justify-content: left;
  margin-left: 25px;
  margin-bottom: 10px;
}

.btn_layout {
  display: flex;
  justify-content: flex-end;
}

.titleBody_name {
  font-size: 18px;
  margin-left: 13px;
  font-weight: 600;
}

.titleInput,
.BodyInput {
  width: 950px;
  font-size: 15px;
  padding-left: 10px;
  border-radius: 10px;
  border: 1px solid #cac4d0;
}

.titleInput {
  height: 40px;
}

.BodyInput {
  padding-top: 8px;
  height: 230px;
  resize: none;
}

.imgUp {
  margin-left: 5px;
}

.backBtn,
.CreateBtn,
.Read_backBtn {
  text-decoration: none;
  border-radius: 4px;
  margin-left: 25px;
  letter-spacing: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  font-weight: 600;
}

.Read_backBtn {
  padding: 7px 10px;
}

.backBtn,
.CreateBtn {
  width: 100px;
  padding: 10px;
}

.backBtn:hover,
.CreateBtn:hover,
.Read_backBtn:hover {
  cursor: pointer;
}

.backBtn {
  background-color: #ffffff;
  border: 1px solid #474747;
}

.CreateBtn,
.Read_backBtn {
  color: white;
  background-color: #ea5514;
  border: none;
}

.orangeNoticeSuggest {
  margin-left: 15px;
  color: #ea5514;
  font-weight: 600;
  margin-top: 60px;
  width: 1000px;
}

.ReadTitle {
  color: #1e1e1e;
  font-weight: 600;
  font-size: 28px;
  margin-left: 10px;
}

.info,
.updateDelete {
  display: flex;
  gap: 20px;
}

.infoUpdateDelete {
  display: flex;
  justify-content: space-between;
  margin: 20px 10px 20px 10px;
}

.ReadUpdate {
  text-decoration: none;
  color: black;
}

.NoticeSuggest_underline {
  border-bottom: 1px solid #979797;
  width: 100%;
}

.ReadContent {
  margin: 50px 0px;
  margin-left: 20px;
}

.ReadBackBtn_layout {
  display: flex;
  justify-content: flex-end;
}

.commentLogo {
  display: flex;
  /* align-items: center; */
  margin: 20px 10px;

  gap: 10px;
}

.comment_all {
  border-top: 1.5px solid #cac4d0;
  padding: 10px 0px;
  padding-left: 5px;
  display: flex;
}

.comment_width {
  width: 1000px;
  padding: 0px 10px;
}

.commentNickname {
  font-weight: 600;
  font-size: 20px;
}

.commentDate {
  color: #898989;
}

.commentdateDelete_layout {
  display: flex;
  justify-content: space-between;
}

.commentDelete {
  color: #979797;
  border: none;
  background-color: white;
}

.Updateimg_layout {
  display: flex;
  margin: 20px 0px;
  margin-left: 50px;
  gap: 30px;
  align-items: center;
}
