.LogoIcon_layout {
  display: flex;
  align-items: center;
  gap: 20px;
}

.NavbarTop_layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 10px;
  padding: 5px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.UserInfo_layout {
  display: flex;
  gap: 15px;
}
