@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

.chatbot-bot-intro-unique {
  display: flex;
  align-items: center;
}

.chatbot-bot-intro-unique img {
  width: 11%;
  margin-right: 0.2rem;
  margin-left: 0.2rem;
}

.chatbot-bot-intro-unique p {
  font-size: 1rem;
  line-height: 1.3;
  background-color: inherit;
  padding: 3%;
  border-radius: 25px;
  border: 1px solid #787878;
  font-family: 'Noto Sans KR', sans-serif;
  margin-right: 3%;
}

.chatbot-container-unique body {
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.chatbot-container-unique {
  /* width: 100%;
  max-width: 400px;
  height: 100vh;
  margin: 0 auto; */
  width: 95%;
  max-width: 800px;
  height: 90vh;
  margin: 2rem auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  /* padding: 2rem; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}

.chatbot-container-unique h1 {
  background-color: #ff6600;
  color: white;
  text-align: center;
  padding: 3px;
  margin: 0;
  font-size: 1.5em;
}

.chatbot-chat-messages-unique {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  /* margin-bottom: 1rem; */
}

#chatbot-messages-unique {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

#chatbot-messages-unique li {
  display: flex;
  margin-bottom: 1rem;
}

.chatbot-message-left-unique {
  justify-content: flex-start;
  max-width: 50%;
  align-self: flex-start;
}

.chatbot-message-right-unique {
  justify-content: flex-end;
  max-width: 50%;
  align-self: flex-end;
}

.chatbot-message-left-unique .message-content,
.chatbot-message-right-unique .message-content {
  padding: 10px;
  border-radius: 10px;
  position: relative;
  word-wrap: break-word;
}

.chatbot-message-left-unique .message-content {
  background-color: #f1f0f0;
  border: 1px solid #ccc;
  margin-right: auto;
}

.chatbot-message-right-unique .message-content {
  background-color: #ff6600;
  color: white;
  border: 1px solid #ff6600;
  margin-left: auto;
}

.chatbot-message-left-unique .message-content::before,
.chatbot-message-right-unique .message-content::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
}

.chatbot-message-left-unique .message-content::before {
  border-width: 0 10px 10px 0;
  border-color: transparent #f1f0f0 transparent transparent;
  left: -10px;
  top: 10px;
}

.chatbot-message-right-unique .message-content::before {
  border-width: 0 0 10px 10px;
  border-color: transparent transparent transparent #ff6600;
  right: -10px;
  top: 10px;
}

.nickname {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

#chatbot-chatform-unique {
  display: flex;
  align-items: center;
  /* margin-top: 1rem; */
  padding: 5px;
  /* padding-top: 1rem; */
  border-top: 1px solid #ccc;
  position: relative;
}

#chatbot-messageinput-unique {
  border: 1px solid #ccc;
  flex: 1;
  padding: 8px 30px 8px 15px;
  font-size: 0.9rem;
  border-radius: 25px;
  /* margin-right: 10px; */
  /* padding-right: 40px; */
}

#chatbot-chatform-unique button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: absolute;
  right: 15px;
}

#chatbot-chatform-unique button:hover {
  background-color: rgba(245, 237, 223, 0.8);
}

.chatbot-button-group-unique {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  margin-right: 0.3rem;
  margin-left: 0.3rem;
}

.chatbot-button-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.chatbot-button-group-unique button {
  font-family: Noto Sans KR, sans-serif;
  padding: 0.65rem;
  font-size: 0.85rem;
  color: #ea5514;
  background-color: inherit;
  font-weight: 600;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: 1px solid #ea5514;
  flex: 1;
  margin-right: 0.5rem;
  border-radius: 25px;
}

.chatbot-button-group-unique button:last-child {
  margin-right: 0;
}

.chatbot-button-group-unique button:hover {
  background-color: rgb(245, 237, 223);
}

.sendBtn {
  display: flex;
  position: relative;
  background-color: #ea5514;
  border-radius: 50%;
  padding: 5px;
  justify-content: center;
  align-items: center;
}

#chatbot-chatform-unique .sendBtn img {
  width: 23px;
  height: 23px;
}
