@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

.mypageAll body {
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
}

.mypageAll {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-top: 2rem;
  overflow-x: hidden;
  font-family: 'Noto Sans KR', sans-serif;
  box-sizing: border-box;
}

.myPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}

.mypageAll h1 {
  display: flex;
  width: 100%;
  font-size: 2rem;
  margin-bottom: 2rem;
  font-weight: 700;
  left: 0;
  margin-left: 27.5%;
  font-family: 'Noto Sans KR', sans-serif;
}

.userProfileForm {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.userProfile {
  display: flex;
  width: 100%;
  align-items: center;
  position: relative;
  justify-content: left;
  margin-top: 17%;
}

.userProfileBtn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  margin-top: 3%;
  margin-right: 7.4%;
}

.userProfileBtn button {
  display: flex;
}

.logoutBtn,
.saveBtn {
  padding: 1rem;
  margin: 0 1rem;
  border: none;
  border-radius: 4px;
  font-size: 0.9rem;
  cursor: pointer;
  background-color: #ea5514;
  color: #fff;
  display: flex;
  width: 90px;
  height: 35px;
  justify-content: center;
  align-items: center;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 700;
}

.divider {
  width: 100%;
  border: 0;
  border-top: 1px solid black;
}

.inputSpace {
  width: 85%;
  padding: 0 0;
  margin: 0 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 10%;
  margin-top: 2%;
  font-family: 'Noto Sans KR', sans-serif;
}

.inputSpace p {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  margin-bottom: 1rem;
  font-family: 'Noto Sans KR', sans-serif;
}

.inputSpace input {
  width: 70%;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  font-family: 'Noto Sans KR', sans-serif;
  padding-left: 2%;
}
