@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

.mypageAll body {
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
}

.mypageAll {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-top: 2rem;
  overflow-x: hidden;
  font-family: 'Noto Sans KR', sans-serif;
  box-sizing: border-box;
}

.myPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}

.mypageAll h1 {
  display: flex;
  width: 100%;
  font-size: 2rem;
  margin-bottom: 2rem;
  font-weight: 700;
  /* left: 0;
  margin-left: 27.5%; */
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
}

.userProfileForm {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* .userProfile {
  display: flex;
  width: 100%;
  align-items: center;
  position: relative;
  justify-content: left;
  margin-top: 17%;
} */

.userProfileBtn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  margin-top: 2rem;
  /* margin-right: 7.4%; */
  margin-left: auto;
}

.userProfileBtn button {
  display: flex;
}

.logoutBtn,
.saveBtn {
  /* padding: 1rem;
  margin: 0 1rem; */
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  border: none;
  border-radius: 4px;
  font-size: 0.9rem;
  cursor: pointer;
  background-color: #ea5514;
  color: #fff;
  /* display: flex;
  width: 90px;
  height: 35px;
  justify-content: center;
  align-items: center; */
  font-family: 'Noto Sans KR', sans-serif;
  /* font-weight: 700; */
}

.divider {
  width: 100%;
  border: 0;
  border-top: 1px solid black;
  margin: 1rem 0;
}

.inputSpace {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  width: 85%;
  padding: 0 0;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* margin-left: 10%; */
  margin-top: 2%;
  font-family: 'Noto Sans KR', sans-serif;
}

.inputLine1,
.inputLine2 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
}

.inputLine1 p,
.inputLine2 p {
  width: 45%;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  margin-bottom: 0;
}

.inputName {
  display: flex;
  flex-direction: row;
}

.inputSpace p {
  width: 50%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1rem;
  /* margin-bottom: 1rem; */
  font-family: 'Noto Sans KR', sans-serif;
  box-sizing: border-box;
}

.inputSpace input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  font-family: 'Noto Sans KR', sans-serif;
  /* padding-left: 2%; */
  margin-top: 0.5rem;
}
