@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.mypageAll body {
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
}

.mypageAll {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.mypageAll h1 {
  display: flex;
  justify-content: left;
  margin-left: 16%;
  margin-top: 3%;
}

.myPage {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.userProfileForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userProfileForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputLeft,
.inputRight {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1rem;
}

.inputLeft input,
.inputRight input {
  height: 45px;
  border-radius: 8px;
  padding-left: 8%;
  box-sizing: border-box;
  width: 350px;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  margin-left: 10px;
}

.a_name,
.a_phone {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.a_id,
.a_pw {
  margin-top: 40px;
  margin-bottom: 40px;
}

.a_name input,
.a_phone input {
  margin-left: 3%;
}

.a_name {
  border: none;
}

.inputSpace {
  display: flex;
  flex-direction: row;
}

.inputLeft {
  display: flex;
  justify-content: left;
  margin-right: 40px;
  flex-direction: column;
}

.inputRight {
  display: flex;
  justify-content: right;
  margin-left: 40px;
  flex-direction: column;
}

.a_id input,
.a_name input,
.a_phone input {
  background-color: #fff3e1;
  border: none;
}

.a_pw input {
  border: 1px solid #ededed;
}

.userProfileBtn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20%;
}

.saveBtn {
  color: white;
  background-color: #ea5514;
  width: 120px;
  height: 45px;
  border: none;
  border-radius: 5%;
  font-size: 1rem;
  font-weight: 700;
}

.divider {
  width: 70%;
  border: 0;
  border-top: 1px solid black;
  margin: 1rem 0;
  margin-top: 2%;
}
