@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

.Footer_layout {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  background-color: #313131;
  font-family: 'Inter', sans-serif;
  color: #a5a5a5;
  border-top: 1px solid #ddd;
  margin-top: 150px;
}

.textLogo_layout {
  display: flex;
  justify-content: flex-start;
}

.Footer_layout p {
  padding-left: 200px;
  padding-right: 100px;
}

.hanul_name {
  font-size: 14px;
}

.hanul_place {
  font-size: 12px;
}
