.Notice_all {
  width: 550px;
  height: 245px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.nameLink_layout {
  display: flex;
  justify-content: space-between;
}

.Notice_title_body {
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.1em;
  margin: 0px 15px;
  border: 0.5px solid #c0c0c0;
  margin: 0px 25px;
}

.notice_name {
  text-decoration: none;
  color: black;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.25em;
  padding: 30px;
  padding-bottom: 20px;
}

.Notice_body {
  color: #347988;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 0.5px solid #c0c0c0;
  padding-left: 20px;
}

.Notice_body h3 {
  margin: 0;
}

.BorderLine {
  border-top: 2px solid #969696;
  margin-top: 20px;
}

.notice_layout {
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-top: 20px;
  width: 144px;
  height: 45px;
}

.notice_name {
  padding: 0px;
  font-size: 22px;
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.NoticeHome_plus {
  color: black;
  text-decoration: none;
  font-weight: 600;
  font-size: 25px;
  margin-left: 5px;
}

.NoticeHome_underline {
  border-bottom: 1px solid #000000;
  margin: 0px 15px;
  margin-bottom: 15px;
}
